<section class="row mx-auto mt-3">
    <h2 class="col-md-12 mb-4">Listing des listes de naissance(s)</h2>

    <article class="my-3 border border-3 border-black">
        <h3 class="mt-3">Listes crées</h3>
        <div class="m-3 p-2 border border-3 border-black">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (cl of childlists; track cl.childlist_id) {
                        @if (cl.createdBy === this.iduser) {
                            <tr>
                                <td>{{cl.lastname}}</td>
                                <td>{{cl.firstname}}</td>
                                <td>{{cl.birthdate}}</td>
                                <td>
                                    <a [routerLink]="'./' + cl.childlist_id" class="btn btn-outline-secondary"><fa-icon [icon]="faEye"></fa-icon></a>
                                    <a (click)="deleteList(cl.childlist_id)" class="btn btn-outline-secondary"><fa-icon [icon]="faXmark"></fa-icon></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </article>

    <article class="my-3 border border-3 border-black">
        <h3 class="mt-3">Créer une liste</h3>

        <div class="m-3 p-2 border border-3 border-black">
            <form [formGroup]="newlistForm" (ngSubmit)="submit()">
                <div class="form-floating m-3">
                    <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        placeholder="un prénom"
                        formControlName="firstname"
                        [ngClass]="{'is-invalid': newlistForm.get('firstname')?.invalid && (newlistForm.get('firstname')?.touched)}"
                    >
                    <label for="firstname">Prénom de l'enfant</label>
                    <app-form-error [control]="newlistForm.get('firstname')"></app-form-error>
                </div>

                <div class="form-floating m-3">
                    <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        placeholder="un nom"
                        formControlName="lastname"
                        [ngClass]="{'is-invalid': newlistForm.get('lastname')?.invalid && (newlistForm.get('lastname')?.touched)}"
                    >
                    <label for="firstname">Nom de l'enfant</label>
                    <app-form-error [control]="newlistForm.get('lastname')"></app-form-error>
                </div>

                <div class="form-floating m-3">
                    <input
                        type="date"
                        class="form-control"
                        id="birthdate"
                        placeholder="une date"
                        formControlName="birthdate"
                        [ngClass]="{'is-invalid': newlistForm.get('birthdate')?.invalid && (newlistForm.get('birthdate')?.touched)}"
                    >
                    <label for="birthdate">Date de naissance prévue</label>
                    <app-form-error [control]="newlistForm.get('birthdate')"></app-form-error>
                </div>

                <div class="d-grid m-3">
                    <button type="submit" class="btn btn-primary">
                        <fa-icon [icon]="faSave"></fa-icon>
                        Créer la liste
                    </button>
                </div>
            </form>
        </div>

    </article>

</section>
